<section class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-header (navigateTo)='redirectTo($event)'></app-header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-recipes *ngIf='tempRouting === "recipes"'></app-recipes>
                <app-shopping-list *ngIf='tempRouting === "shopping-list"'></app-shopping-list>
            </div>
        </div>
    </div>
    <p [appBetterHighlight]='"yellow"'>This has better highlight</p>

    <p *appUnless='true'>This is a paragraph</p>
</section>
<!-- <div style='height: 1000px'>
    temp
</div>
<div (appIsShowing)='isElementShowing($event)'>
    isShowing
</div> -->